<div class="header">
    <h1>Equipos de fútbol con más Champions League</h1>
    <p>Los equipos de fútbol más grandes de Europa</p>
</div>

<div class="row">
    <div class="column">
        <img class="img-team" src="img/equipos/real_madrid.png" alt="Real Madrid">
        <img class="img-team" src="img/equipos/milan.png" alt="Milan">
        <img class="img-team" src="img/equipos/liverpool.png" alt="Liverpool">
        <img class="img-team" src="img/equipos/bayern.png" alt="Bayern">
        <img class="img-team" src="img/equipos/barcelona.png" alt="Barcelona">
    </div>
</div>